body {
	/* for speed-up */
	text-rendering:auto;
	font-smoothing:none;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	letter-spacing:.2px;
	text-size-adjust:100%;
	/* 縦書きの場合 */
	/* 行間を横書きの場合より広げる */
	/*
	writing-mode: vertical-rl;
	-epub-writing-mode: vertical-rl;
	line-height: 1.75;
	*/
}

h1, h2, h3, h4, h5, h6, strong, em, dfn, b, th, figcaption {
	font-family: sans-serif;
}

/* indenting first line */
p {
	text-indent: 1em;
}

/* emphasizing */
em {
	color: hsl(240, 100%, 25%);
	background-color: hsl(240, 100%, 95%);
	font-style: normal;
}

strong {
	color: hsl(0, 100%, 25%);
	background-color: hsl(0, 100%, 95%);
}

dfn {
	color: hsl(120, 100%, 25%);
	background-color: hsl(120, 100%, 95%);
	font-style: normal;
}

/* quote */
q {
	quotes: "「" "」" "『" "』";
}
q:before { content:  open-quote; }
q:after  { content: close-quote; }

/* table */
table > tr:first-child {
	border-bottom: 1px solid #d8d8d8;
}
table > tr:nth-child(even) {
	color: #000033;
	background-color: #ffffcc;
}
