
strong, strong > dfn {
	color: crimson;
	font-weight: bold;
	font-style: normal !important;
}
dfn {
	color: magenta;
	font-weight: bold;
	font-style: normal !important;
}
em {
	color: navy;
	font-weight: bold;
	font-style: normal !important;
}

.heading {
	font-family: sans-serif !important;
	display: block !important;
}

p {
	text-indent: 1em;
}

article {
	border-radius: 3px;
}
article > h6 {
	margin-left: -0.4em !important;
	margin-bottom: 5px !important;
	padding: 5px 10px;
	background-color: hsl(0, 0%, 20%);
	color: white !important;
	border-radius: 3px 3px 0 0;
}

article.definition-like > h6 {
	background-color: hsl(240, 100%, 40%);
}

article.theorem-like > h6 {
	background-color: hsl(0, 100%, 40%);
}

article.remark-like {
}
